h1{
  font-family: "Times New Roman", Times, serif;
}



html, body {
  height: 100%;
  width: 100%;

  
  text-align: center;
  line-height: 140%;

  
  background-color: lightblue;
  
}

#footnote{
  position: fixed;
  bottom: 0;
  width: 100%;
}




#fc{
  text-align: center;
}

#Cont1{
  height: 60px;
  width: 10%;
  background:floralwhite;
  margin-left: 15%;
  border-radius: 15px;
}

#Cont2{
  height: 60px;
  width: 10%;
  background:floralwhite;
  margin-left: 5%;
  border-radius: 15px;

}

#Cont3{
  height: 60px;
  width: 10%;
  background:floralwhite;
  margin-left: 5%;
  border-radius: 15px;

}

#Cont4{
  height: 60px;
  width: 10%;
  background:floralwhite;
  margin-left: 5%;
  border-radius: 15px;
  

}

#Cont5{
  height: 60px;
  width: 10%;
  background:floralwhite;
  margin-left: 5%;
  border-radius: 15px;

}